@* @page "/fetchdata"

<PageTitle>Movie List</PageTitle>

@using frontend.Data
@inject frontend.ApiConnection.api api

<h1>Movie List</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Is Completed</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.id</td>
                    <td>@movie.title</td>
                    <td>@movie.isCompleted</td>
                    <td>@movie.genre</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<movie>? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await api.GetMovies();
    }
} *@
